.bHeader {
    border-top: 12px solid #a9649e;
    padding: 1rem;
    display: flex;
}
.bHeader a {
    text-decoration: none;
    cursor: pointer;
    color: #353b3f;
}
.bHeader a:hover {
    text-decoration: underline;
    color: #a9649e;
}

.bHeader span[role=img] {
    display: inline-block;
    margin-right: .2em;
}

.bHeader__logo {
    min-width: 350px;
    font-size: 1.5rem;
    padding-right: 1rem;
    font-family: Georgia!important;
}
.bHeader__logo a {
    font-weight: 700;
}


.bHeader__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bHeader__nav--options {
    justify-content: flex-end;
}


.bHeader__navLink {
    margin-right: 1.25rem;
    font-weight: 500;
    font-size: 1.05rem;
}
.bHeader__navLink--active {
    color: #fff !important;
    background-color: #a9649e;
    border-radius: 4px;
    padding: .25em .5em;
}
.bHeader__navLink--active:hover {
    text-decoration: none !important;
}



.bHeader__navLink--exit {
    float: right;
    margin-right: 0;
}